<!DOCTYPE html>
{% load static %}
<html lang='zh_TW'>
<head>
    <link rel="stylesheet" href="{% static 'blog/Forum.css' %}">

    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/sunburst.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <meta charset='utf-8'/>
    <title>Forum</title>
    <script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
</head>

<body>
    <div class="Header">
        <a href="http://127.0.0.1:8000/blog/"><b>F</b>ront-end <b>B</b>asic</a>
        <ul class="Header-sections">
            <li class="Header-section HTML"><a href="../HTML/">HTML</a></li>
            <li class="Header-section CSS"><a href="../CSS/">CSS</a></li>
            <li class="Header-section JavaScript"><a href="../JavaScript/">JavaScript</a></li>
            <li class="Header-section Python"><a href="#Python">Python</a></li>
        </ul>
    </div>

    <div class="Container">
        <div class="Content">
            <div>
                <h1>{{ post.title }}</h1>
                <span>{{ post.created_at|date:"Y / m / d" }}</span>
                <br>
                {{ post.content|safe }}
                
            </div>


            
        </div>
    </div>
</body>

</html>

