@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}
@keyframes blink{
    0% { opacity:1;}
    100% { opacity:0;}
}
.typed-cursor{
    opacity: 1;
    animation: blink 1s infinite steps(2);
}


body {
    background-color: rgb(28, 28, 28);
}

.Header {
    height: 70px;
    color:antiquewhite;
    background-color: rgb(24, 24, 24);
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Header a {
    line-height: 70px;
    font-size: 1.8em;
    color:rgb(232, 232, 229);
    text-decoration: none;
}
.Header b {
    color:rgb(60, 173, 208);
}
.Header-sections  {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Header-sections li {
    display: inline;
    font-size: 0.6em;
    float: left;
}
.Header-sections .HTML {
    background-image: linear-gradient(#3fb9e2, #3fb9e2);
    background-position: center bottom;
    background-size: 0  2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
.Header-sections .HTML:hover {
    background-size: 100% 2.5px;
}
.Header-sections .CSS {
    background-image: linear-gradient(#e17033, #e17033);
    background-position: center bottom;
    background-size: 0  2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
.Header-sections .CSS:hover {
    background-size: 100% 2.5px;
}
.Header-sections .JavaScript {
    background-image: linear-gradient(#b045d3, #b045d3);
    background-position: center bottom;
    background-size: 0  2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
.Header-sections .JavaScript:hover {
    background-size: 100% 2.5px;
}
.Header-sections .Python {
    background-image: linear-gradient(#debc3e, #debc3e);
    background-position: center bottom;
    background-size: 0  2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
.Header-sections .Python:hover {
    background-size: 100% 2.5px;
}



.Container {
    width: 100%;
    height: 100%;
    min-width: 1200px;
    margin:0px;
    padding:0px;
    position:fixed;
    top:70px;
    left:0px;
    bottom: 0px;
    overflow: scroll;
    overflow-x: scroll;
    color:antiquewhite;
}
.Sidebar {
    width: 240px;
    height: 100%;
    margin:0px;
    padding: 30px 5px 30px 30px;
    color:antiquewhite;
    background-color: rgb(24, 24, 24);
    overflow: scroll;
    position: fixed;
    top:70px;
    left:0px;
}
.Content {
    width: 75%;
    min-width: 600px;
    height: 100%;
    margin:0px;
    padding:20px;
    color:antiquewhite;
    background-color: rgb(28,28,28);
    overflow: scroll;
    position: fixed;
    top:70px;
    left:240px;
}
.HomePageContent {
    width: 90%;
    min-width: 600px;
    height: 85%;
    margin:10px auto;
    padding:20px;
    color:antiquewhite;
    background-color: rgb(28,28,28);
    overflow: scroll;
    position: fixed;
    top:70px;
    left:0px;
    right:0px;
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
}
.HTMLbox {
    width:320px;
    height: 400px;
    margin:10px;
    padding-left: 25px;
    padding-bottom: 0px;
    background-color: #3296b7;
    position: relative;
    flex-grow: 1;
    transition: 0.5s background-color ease 0s;
}
#HTMLboxlink {
    width: 100%;
    height: 400px;
    padding:0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-decoration: none;
}
#HTMLboxHead {
    color:#d2f5ff;
    letter-spacing: 0.1em;
    line-height: 30px;
    font-size: 60px;
    position: relative;
    z-index: 10;
}
.HTMLbox:hover {
    background-color: #37a4c991;
}
#HTMLboxTextWrap {
    max-height:200px;
    color:#c7fffe;
    opacity: 1;
    letter-spacing: 0.2em;
    line-height: 30px;
}
#HTMLboxTextMORE {
    color:rgba(55, 112, 144, 0.802);
    opacity: 1;
    font-size: 100px;
    margin:0px;
    position: absolute;
    right:0px;
    bottom: 0px;
}
.HTMLbox:hover #HTMLboxHead {
    color: #b9eaead1;
}
.HTMLbox:hover #HTMLboxTextWrap {
    max-height:200px;
    color:#b7e4e4;
    opacity: 1;
    letter-spacing: 0.2em;
    line-height: 30px;
}
.HTMLbox:hover #HTMLboxTextMORE {
    color: #6990abb6;
}



#HomePageBox-wrap {
    width:420px;
    height: 390px;
    margin-bottom:30px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.CSSbox {
    width:420px;
    height: 42%;
    padding-left: 25px;
    margin:10px;
    background-color: #ca8920;
    flex-grow: 1;
    transition: 0.5s background-color ease 0s;
    position: relative;
}
#CSSboxlink {
    width: 100%;
    height: 100%;
    padding:0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-decoration: none;
}
#CSSboxHead {
    width:100%;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    color: #ffeabc;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 90px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}

@keyframes TEXTjump{
    0%{top:5px;}
    25%{top:-10px;}
    50%{top:5px;}
}
@keyframes shadow{
    0%,50%{
        left:calc(var(--shadowleft) - 2px);
        top:85px;
        width:50px;
        height:7px;
        background:#826526e7;
    }
    25%{
        left:calc(var(--shadowleft) + 2px);
        width:40px;
        background:#826526e7;
    }
    100%{
        left:calc(var(--shadowleft) - 2px);
        top:85px;
        width:50px;
        height:7px;
        background:#826526e7;
    }
}

#C:before{
    content:'C';
    position:absolute;
    z-index:20;
    top:5px;
    left:10px;
    border-radius:2px;
    animation:TEXTjump 1.6s infinite ease-out;
  }
#C:after{
    --shadowleft: 20px;
    content:'';
    position:absolute;
    left:20px;
    z-index:10;
    top:10px;
    width:50px;
    height:7px;
    background:#826526e7;
    border-radius:100%;
    animation:shadow 1.6s infinite ease-out;
}
#S:before{
    content:'S';
    position:absolute;
    left:90px;
    z-index:20;
    top:5px;
    border-radius:2px;
    animation:TEXTjump 1.6s infinite linear .1s;
  }
#S:after{
    --shadowleft: 97px;
    content:'';
    position:absolute;
    left:97px;
    z-index:10;
    top:85px;
    width:44px;
    height:3px;
    background:#826526e7;
    border-radius:100%;
    animation:shadow 1.6s infinite linear .1s;
}
#SS:before{
    content:'S';
    position:absolute;
    left:170px;
    z-index:20;
    top:5px;
    border-radius:2px;
    animation:TEXTjump 1.6s infinite ease-in .2s;
  }
#SS:after{
    --shadowleft: 177px;
    content:'';
    position:absolute;
    left:177px;
    z-index:10;
    top:85px;
    width:44px;
    height:3px;
    background:#826526e7;
    border-radius:100%;
    animation:shadow 1.6s infinite ease-in .2s;
}

#CSSboxTextMORE {
    color: #987235;
    opacity: 1;
    font-size: 70px;
    margin:0px;
    position: absolute;
    right:0px;
    bottom: 0px;
    z-index: 0;
}
.CSSbox:hover {
    background-color: #c68113c1;
}
.CSSbox:hover #CSSboxHead{
    color: #ffda9fd2;
}
.CSSbox:hover #CSSboxTextMORE {
    color: #ac925bc1;
}


.JavaScriptbox {
    width:400px;
    height: 55%;
    padding-left: 25px;
    margin:10px;
    background-color: #cf3f85;
    flex-grow: 1;
    transition: 0.5s background-color ease 0s;
    position: relative;
}
#JSboxlink {
    width: 100%;
    height: 100%;
    padding:0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-decoration: none;
}
#JSboxHead {
    width:100%;
    height: 100%;
    color: #ffd2ebee;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 60px;
    position: relative;
    top:30px;
    z-index: 10;
}
#JSboxTextMORE {
    color: #953659af;
    opacity: 1;
    font-size: 70px;
    margin:0px;
    position: absolute;
    right:0px;
    bottom: 0px;
    z-index: 0;
}

.JavaScriptbox:hover {
    background-color: #c03a7bc2;
}
.JavaScriptbox:hover #JSboxHead{
    color: #ebbbd5df;
}
.JavaScriptbox:hover #JSboxTextMORE{
    color: #bd5889d9;
}


.Pythonbox {
    width:290px;
    max-height: 400px;
    padding-left: 15px;
    margin:10px;
    overflow: hidden;
    background-color: #ddbf3a;
    flex-grow: 1;
    position: relative;
    transition: 0.5s background-color ease 0s;
}
#PYboxlink {
    width: 100%;
    height: 100%;
    padding:0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-decoration: none;
}
#PythonboxHead {
    width:100%;
    height: 100%;
    color: #fff39af4;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 60px;
    position: relative;
    top:20px;
    z-index: 10;
}
#PythonboxMORE {
    color: #ae990fb6;
    opacity: 1;
    font-size: 100px;
    margin:0px;
    position: absolute;
    right:0px;
    bottom: 0px;
    z-index: 0;
}
#PYrobotWrap {
    width: 100%;
    height: 200px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    top:20px;
    text-align: center;
}
#PYrobot {
    width:120%;
    max-width: 420px;
    position: relative;
    top: -25px;
    z-index: 10;
}

.Pythonbox:hover {
    background-color: #ddbf3ab3;
}
.Pythonbox:hover #PythonboxHead{
    color: #f0e695dc;
}
.Pythonbox:hover #PythonboxMORE{
    color: #aaa062e6;
}
#WYOMING {
    width:100%;
}



