@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}


body {
    background-color: rgb(28, 28, 28);
}

.Header {
    height: 70px;
    color:antiquewhite;
    background-color: rgb(24, 24, 24);
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Header a {
    line-height: 70px;
    font-size: 1.8em;
    color:rgb(232, 232, 229);
    text-decoration: none;
}
.Header b {
    color:rgb(60, 173, 208);
}
.Header-sections  {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Header-sections li {
    display: inline;
    font-size: 0.6em;
    float: left;
}
.Header-sections .HTML {
    background-image: linear-gradient(#3fb9e2, #3fb9e2);
    background-position: center bottom;
    background-size: 0  2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
.Header-sections .HTML:hover {
    background-size: 100% 2.5px;
}
.Header-sections .CSS {
    background-image: linear-gradient(#e17033, #e17033);
    background-position: center bottom;
    background-size: 0  2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
.Header-sections .CSS:hover {
    background-size: 100% 2.5px;
}
.Header-sections .JavaScript {
    background-image: linear-gradient(#b045d3, #b045d3);
    background-position: center bottom;
    background-size: 0  2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
.Header-sections .JavaScript:hover {
    background-size: 100% 2.5px;
}
.Header-sections .Python {
    background-image: linear-gradient(#debc3e, #debc3e);
    background-position: center bottom;
    background-size: 0  2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s linear;
}
.Header-sections .Python:hover {
    background-size: 100% 2.5px;
}



.Container {
    width: 100%;
    height: 80%;
    min-width: 1200px;
    margin:0px;
    padding:0px;
    position:fixed;
    top:70px;
    left:0px;
    bottom: 0px;
    overflow: scroll;
    overflow-x: scroll;
    color:antiquewhite;
}
.Sidebar {
    width: 240px;
    height: 80%;
    margin:0px;
    padding: 30px 5px 30px 30px;
    overflow: scroll;
    color:antiquewhite;
    background-color: rgb(24, 24, 24);
    overflow: scroll;
    position: fixed;
    top:70px;
    left:0px;
}
.Sidebar ul {
    margin:0;
}
.Sidebar a {
    font: 15px 'Noto Sans TC', sans-serif;
    line-height: 2em;
    color: rgb(193, 193, 193);
    text-decoration: none;
}
.Sidebar a:hover {
    padding:2px 6px;
    color:#e2e2e2;
    background-color: rgb(66, 66, 66);
}

.Content {
    width: 75%;
    min-width: 800px;
    height: 80%;
    margin:0px auto;
    padding:20px;
    padding-left: 40px;
    color:rgb(236, 236, 236);
    background-color: rgb(28,28,28);
    overflow: scroll;
    position: fixed;
    top:70px;
    left:240px;
}

hr {
    border: 1px solid rgb(127, 127, 127);
}
.Article {
    color:rgb(244, 243, 238);
    background-color: rgba(120, 120, 120, 0.639);
    padding-bottom: 1em;
    position: relative;
    margin-bottom: 40px;
}
.Article h3{
    width: 100%;
    color:#ffffffd4;
    background-color: rgb(50, 50, 50);
    font-size: 1.2em;
    text-indent: 1.5em;
    line-height: 2em;
    letter-spacing: 0.2em;
}
.Paragraph {
    width:94%;
    margin:0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    line-height:1.8em; 
    letter-spacing: 0.1em;
}
pre {
    width:90%;
    margin: 5px auto;
    color:rgb(196, 195, 190);
    padding: 10px 20px; 
    background-color: rgba(66, 66, 66, 0.419); 
    border:2px dashed rgba(151, 151, 151, 0.315); 
    border-radius: 10px;
}
p.notes {
    color: #b9b9b9; 
    font: italic 0.9em/1.3em 'Noto Sans TC', sans-serif;
}

.Paragraph table {
    border: 1px solid #b9b9b9;
    width: 80%;
    border-collapse:collapse;
}
.Paragraph th { 
    padding:10px;
    border:5px solid rgba(87, 87, 87, 0.913);
} 
.Paragraph td { 
    border:4px solid rgba(87, 87, 87, 0.908);
    padding:5px 15px;
} 
.Paragraph tr:nth-child(2n+1) {
    background-color: rgba(87, 101, 110, 0.538);
}
.Paragraph tr:nth-child(even) {
    background-color: rgba(107, 123, 135, 0.725);
}
.Paragraph tr:first-child {
    color:white; 
    background-color: rgba(63, 78, 89, 0.931); 
    letter-spacing: 0.5em;
    line-height: 1em;
}

#exampleFORM {
    color:rgb(244, 243, 238);
    font-family: 'Noto Sans TC', sans-serif;
}
